
@{
    ViewData["Title"] = "managerdash";
    Layout = "~/Views/Shared/managerlayout.cshtml";
}

<h1> managerdash</h1>
    <div class="text-center">
        <br />
        <br />
        <br />
        <br />
        <br />

        <h1 class="display-4">Welcome TO Manager Page</h1>
        
</div>



